@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);


/* popup pada dashboard */
*/ body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    backdrop-filter: blur(5px);
    /* Add blur effect */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: transparent;
    padding: 0;
    border-radius: 10px;

    max-width: 90%;
    width: 600px;
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.popup-content {
    position: relative;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    z-index: 1001;
}

#closePopupButton {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    /* Change from absolute to relative */
    bottom: -20px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#closePopupButton:hover {
    background-color: #0056b3;
}

.popup.show {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

#popupBackground.show {
    display: block;
}





/** Css Referensi **/
/* Styles for the main container */
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.referensi-container {
    padding: 20px;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}

.referensi-search {
    max-width: 800px;
    margin: auto;
}

.referensi-sidebar {
    width: 300px;
}

.bg-referensi {
    background-color: #3A595C;
}

.list-group-item {
    cursor: pointer;
    transition: color 0.2s;
    color: #000;
    /* Default color */
    border: none;
    /* Remove border */
}

.list-group-item:hover {
    color: #999999;
    /* Warna teks abu-abu tipis saat dihover */
}

.list-group-item.active {
    color: #000000;
    background-color: transparent !important;
    /* Menghilangkan background biru */
}

.referensi-content {
    flex-grow: 1;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.referensi-card {
    background-color: #f8f9fa;
}

.btn-referensi-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-referensi-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-referensi-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-referensi-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.referensi-card .card-body {
    padding: 20px;
}

.referensi-card .card-title {
    font-size: 1.25rem;
}

.list-group-item+.list-group-item {
    border-top: 1px solid #ddd;
    /* Set border color to a light grey */
}

/* Ensure full width background on mobile */
@media (max-width: 767.98px) {
    .referensi-container {
        padding-left: 0;
        padding-right: 0;
    }

    .referensi-content {
        padding-left: 0;
        padding-right: 0;
    }
}






/* CSS untuk halaman navbar */
.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-height: 50px;
}

.nav-link {
    color: #000;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #007bff;
}

.navbar-text {
    margin-right: 1rem;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}



/* Custom styles for dashboard page */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F2F6FF;
    font-family: 'Roboto', sans-serif;
}

.full-width-section {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.slider_section {
    padding-top: 0;
    margin-top: 0;
}

.slider_section img {
    max-height: 70vh;
    width: 100%;
    object-fit: cover;
}

.announcement_section {
    background-color: white;
    padding: 20px 0;
}

.announcement_section .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.announcement_section .card {
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: 18rem;
    height: 22rem;
    transition: transform 0.3s ease-in-out;
    margin: 5px;
}

.announcement_section .card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 0;
}

.announcement_section .card-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    /* Warna teks card title diubah menjadi hitam */
    text-align: center;
    /* Menyelaraskan teks di tengah */

    margin-top: 50px;
    /* Turunkan judul */
}

.announcement_section .card-body {
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* Atur tinggi body card agar konten berada di tengah */
    display: flex;
    flex-direction: column;
    /* Menyusun elemen secara vertikal */
    justify-content: center;
    /* Pusatkan konten secara vertikal */
    align-items: center;
    text-align: center;
    /* Menyelaraskan teks di tengah */
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.announcement_section .card:hover .card-body {
    transform: translateY(0%);
}


.announcement_section .card:hover .card-title {
    opacity: 0;
}

.announcement_section .card-body h5,
.announcement_section .card-body p,
.announcement_section .card-body .read-more {
    color: black;
    text-align: center;
}

.announcement_section .card-body h5 {
    font-size: 16px;
    /* Ukuran font */
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    /* Warna teks hitam */
    text-align: center;
    /* Rata tengah */
}

.announcement_section .card-body p {
    font-size: 14px;
    /* Ukuran font */
    margin-bottom: 5px;
    text-align: center;
    /* Rata tengah */
}

.announcement_section .read-more {
    display: inline-block;
    background-color: #19A7CE;
    /* Warna tombol read more */
    color: white;
    font-size: 14px;
    /* Ukuran font */
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.announcement_section .read-more:hover {
    background-color: #577BC1;
    color: #fff;
}

.calendar_section {
    background-color: #EEF7FF;
    padding: 20px 0;
    color: black;
    text-align: center;
}

.calendar_section h2 {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.announcement_section .text-white {
    color: black;
}

.announcement_section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #000957;
}

.announcement_section p {
    color: #6c757d;
    font-size: 16px;
}

/* Custom CSS for FullCalendar */
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 20px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F2F6FF;
    border-radius: 8px;
    color: white;
}

.fc .fc-toolbar-title {
    font-size: 24px;
    font-weight: bold;
}

.fc .fc-button {
    background-color: #19A7CE;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.fc .fc-button:hover {
    background-color: #577BC1;
}

.fc .fc-daygrid-day-number {
    color: #000957;
    font-weight: bold;
    font-size: 14px;
}

.fc .fc-event {
    background-color: #F2F6FF;
    color: #fff;
    border: none;
    padding: 5px;

    font-size: 12px;
}

.fc .fc-daygrid-day-frame {
    border: 1px solid #ddd;
    background-color: #f8f9fa;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border: 1px solid #ddd;
}

.fc-day-today {
    background-color: #AFD3E2 !important;
}

.fc .fc-highlight {
    background: #344CB7;
    opacity: 0.3;
}

.swal2-popup {
    font-size: 1rem !important;
    font-family: 'Roboto', sans-serif;
}



/* CSS untuk tampilan halaman layanan */
.full-width-section {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.background-dark-section1 {
    background-color: #f5f5f5;
}

.background-dark-section2 {
    background-color: #ffffff;
}

.background-dark-section3 {
    background-color: #f5f5f5;
}

.service-item {
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-item:hover {
    transform: scale(1.05);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-title {
    color: #000000 !important;
    font-size: 35px;
}

.modal-body h5 {
    font-size: 18px;
}

.modal-body a {
    font-size: 25px;
}

.fa-3x {
    font-size: 3em;
}

.font-weight-bold {
    font-weight: bold;
}

.custom-text {
    color: #000000 !important;
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 767px) {
    .service-item {
        margin-bottom: 20px;
    }
}

/* Navbar customization */


.navbar-nav .nav-link {
    font-size: 18px;
    /* Membesarkan teks */
    transition: color 0.2s ease-in-out;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #EBE645;
    /* Warna garis bawah link navbar */
    transition: width 0.2s ease, background-color 0.2s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #EBE645;
    /* Warna garis bawah link navbar saat hover */
}

.navbar-nav .nav-link:hover {
    color: #EBE645;
    /* Warna teks link navbar saat hover */
    background: none;
}

.navbar-text {
    font-size: 18px;
    /* Membesarkan teks */
}

.btn-danger {
    font-size: 18px;
    /* Membesarkan teks tombol */
}

@media (max-width: 991.98px) {
    .navbar-text {
        display: block !important;
    }
}